body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic',sans-serif;
    box-sizing: border-box;
    background-color: #f0f3f4;
    color: #58666e;
}
header {
    width: 100%;
    text-align: center;
    background: #607d8b;
    padding: 40px 0;
    color: white;
}
nav ul {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #5a6e77;
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li:hover {
    background: #607d8b;
}
section {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
article {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
footer {
    text-align: right;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 10px 10px;
}
h3 {
    text-align: center;
}